@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --font-clr: white;
  --transp-bg: rgba(255, 255, 255, 0.4);
  --card-sz: calc(80vh / 3);
}

* {
  margin: 0;
  font-family: "Roboto";
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--font-clr);
}

body {
  background: linear-gradient(#0c0c0e, #011121, #0c0c0e);
  height: 100vh;
  width: 100%;
}

.first-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
/* start header */
header {
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom-left-radius: 30px;
  height: 72px;
  width: 100%;
  display: flex;
  padding: 0 40px;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  margin-right: 20px;
  display: flex;
  gap: 32px;
  font-weight: 500;
  font-size: 20px;
}

.navigation li a:hover,
.navigation a.active {
  color: #011121;
  font-weight: 600;
}

.logo {
  color: var(--font-clr);
  font-size: 2em;
  font-weight: 600;
}
/* start crafting */

.main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  margin-bottom: 60px;
}

.content {
  width: 40%;
  color: var(--font-clr);
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.content .Crafting {
  font-size: 3em;
  font-weight: 500;
}

.content p {
  font-size: 1em;
  line-height: 1.5;
  font-weight: 400;
}

.Crafting span {
  font-size: 1.5em;
  font-weight: 600;
}

.input {
  margin-left: 24px;
  width: 80%;
  color: var(--font-clr);

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.input input {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  outline: none;
  height: 48px;
  border-radius: 24px;
  padding: 0 16px;
  font-weight: 500;
  cursor: pointer;
}

.input .icon {
  background-color: rgba(255, 255, 255, 0.4);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  color: var(--font-clr);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 60%;
}

.image img {
  width: 80%;
}
/* 
.points {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 90px;
  left: 50%;
}

.point {
  width: 0.6em;
  height: 8px;
  border-radius: 8px;
  background-color: var(--transp-bg);
}

.point.active {
  background-color: var(--font-clr);
  width: 16px;
} */

.line {
  background-color: var(--transp-bg);
  opacity: 0.5;
  height: 1.8px;
  width: 45%;
  position: absolute;
}

.line.top {
  top: 0;
}

.line.bottom {
  bottom: 0;
}
/* for sections */
.popular-services,
.categories,
.top-services,
.best-sellers,
.tips,
.comments,
.about-us {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.title {
  color: var(--font-clr);
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 30px;
}

.services-main,
.best-sellers-main,
.comments-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.services-main,
.about-us-main {
  padding: 0 3rem;
}

.services-main,
.categories-main,
.top-services-main,
.best-sellers-main,
.tips-main,
.comments-main,
.about-us-main {
  flex: 1;
  width: 100%;
  margin-top: 3rem;
}

.left-click,
.right-click {
  width: 10%;
  text-align: center;
  color: var(--font-clr);
  font-size: 4em;
  cursor: pointer;
  transition: font-size 0.3s ease;
}

/* for the arrow's hover */
.left-click:hover .hover,
.right-click:hover .hover {
  font-size: 1.2em;
}
/* end crafting */
/* end header */
/* start services */

.swiper-container {
  width: 100%;
  height: auto;
}

.services {
  display: flex;
  justify-content: space-between;
}
.service {
  width: 100%; /* Ajuster la largeur pour occuper toute la largeur du conteneur */
  max-width: 18em; /* Définir une largeur maximale pour les cartes */
  background-color: var(--transp-bg);
  color: var(--font-clr);
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrer le contenu horizontalement */
  gap: 0.8em;
  padding: 1em;
  border-radius: 16px;
  overflow: hidden; /* Empêcher le contenu de déborder de la carte */
}

.service .imgService img {
  width: 100%; /* Ajuster la taille de l'image pour remplir son conteneur */
  height: auto; /* Conserver le ratio de l'image */
}
.service .service-name {
  font-size: 1.3em;
}
.service .service-desc {
  display: block;
}
.service.active {
  background-color: var(--font-clr);
  transform: scaleY(1.2) scaleX(1.05);
  color: #011121;
  font-weight: 600;
  line-height: 0.6;
}

.service.active .service-desc {
  display: block;
  font-size: 0.8em;
}

.categories-main,
.top-services-main {
  padding: 0 120px;
}
.popular-services {
  margin-bottom: 50px;
}
.swiper-navBtn {
  color: var(--font-clr);
  transition: color 0.3s ease;
}
.swiper-navBtn:hover {
  color: var(--font-clr);
}
.swiper-navBtn::after,
.swiper-navBtn::before {
  font-size: 40px;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}
.swiper-pagination-bullet {
  background-color: var(--font-clr);
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: blue;
}
/* 
.services {
  display: grid;
  grid-template-columns: repeat(5, 200px);
  grid-template-rows: 30vh;
  column-gap: 40px;
  height: 45vh;
  align-content: center;
}

.service {
  background-color: var(--transp-bg);
  color: var(--font-clr);
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  padding: 1em;
  border-radius: 16px;
}

.service > .imgService {
  flex: 1;
}

.service .service-name {
  font-size: 1.3em;
}

.service .service-desc {
  display: none;
}

.service.active {
  background-color: var(--font-clr);
  transform: scaleY(1.2) scaleX(1.05);
  color: #011121;
  font-weight: 600;
  line-height: 0.6;
}

.service.active > .service-desc {
  display: block;
  font-size: 0.8em;
}

.categories-main,
.top-services-main {
  padding: 0 120px;
} */
/* end services */
.categories {
  margin-top: 50px;
}
.categories-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, 220px);
  gap: 20px;
  justify-content: center;
}

.categorie {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.categorie-icon {
  background-color: var(--transp-bg);
  width: 50%;
  height: 50%;
  border-radius: 16px;
}

.categorie-name {
  color: var(--font-clr);
  font-size: 1.2em;
  margin-top: 12px;
  cursor: pointer;
}

.top-services > .see-more {
  color: var(--font-clr);
  align-self: flex-end;
  font-size: 1.2em;
  padding: 24px 6rem;
}

.top-services {
  height: 130vh;
}

.top-services-main,
.sellers {
  display: grid;
  justify-content: center;
}

.top-services-main {
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: repeat(2, 320px);
  row-gap: 2rem;
  column-gap: 3.8rem;
}

.service-card,
.seller-card {
  display: flex;
  flex-direction: column;
  gap: 5px;

  color: white;
}

.service-card {
  align-items: flex-start;
}

.service-card > .services-gallery {
  background-color: var(--transp-bg);
  flex: 1 0 auto;
  width: 95%;
  height: 50%;
  border-radius: 24px;

  position: relative;
  overflow: hidden;
}

.profile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  margin: 6px 0;
}

.profile > .photo-profile {
  width: 40px;
  height: 40px;
}

.photo-profile {
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
}

.photo-profile > img {
  width: 100%;
}

.profile-name {
  text-transform: uppercase;
}

.profile-desc,
.service-rate {
  padding-left: 1em;
}

.profile-desc {
  font-size: 0.9em;
  font-weight: 300;
  width: 80%;
}

.service-rate {
  display: flex;
  gap: 0.5em;
  margin-bottom: 6px;
  align-items: flex-end;
}

.services-gallery > .points {
  bottom: 0.8em;
  left: 45%;
}

.gallery-main {
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.gallery-main > .left-click,
.gallery-main > .right-click {
  font-size: 1.5em;
}

.gallery-main > .work-image {
  width: 75%;
  height: 90%;
  margin-top: 1em;
}

.work-image img {
  width: 100%;
  height: 100%;
}

.services-gallery .point {
  width: 0.4em;
  height: 0.4em;
  border-radius: 50%;
  background-color: var(--transp-bg);
}

.services-gallery .point.active {
  background-color: var(--font-clr);
}

.best-sellers {
  min-height: 120vh;
}

.best-sellers-main {
  justify-content: space-between;
  margin-top: 0;
}

.sellers {
  flex: 1;
  grid-template-columns: repeat(3, max(260px, 25%));
  grid-template-rows: repeat(2, 280px);
  padding-left: 1.5em;

  row-gap: 3rem;
  column-gap: 3rem;
}

.seller-card {
  background-color: var(--transp-bg);
  border-radius: 20%;
  max-width: 270px;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.seller-card > .photo-profile {
  width: 40%;
  height: 40%;
}

.seller-card > .profile-desc {
  font-size: 0.8em;
  text-align: center;
}

.tips,
.comments {
  height: 90vh;
}

.tips-main,
.comment {
  background-color: rgba(255, 255, 255, 0.1);
  width: 70%;
  margin-top: 2em;
  margin-bottom: 4em;
  border-radius: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.8em;
}

.tips-content,
.comment-content {
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  gap: 2em;
  color: var(--font-clr);
}

.tips-content > .title {
  margin-top: 0;
}

.tips-content > p {
  font-weight: 300;
  letter-spacing: 1.1px;
  line-height: 1.5;
}

.tips-image,
.comment-image {
  background-color: #fff;
  width: 35%;
  height: 75%;
  border-radius: 32px;
}

.comment-image {
  box-shadow: 5px 5px 30px;
}

.tips-image {
  box-shadow: 10px 16px 27px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 16px 27px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 16px 27px 0px rgba(0, 0, 0, 0.75);
}

.comment {
  height: 80%;
  width: 60%;
  flex-direction: row-reverse;
}

.about-us {
  height: 100vh;
}

.about-us-main {
  display: grid;
  grid-template-columns: repeat(4, max(240px, 18%));
  grid-template-rows: repeat(2, min(240px, 40%));
  grid-template-areas:
    "p1 p1 p3 p4"
    "p2 p2 p3 p4";

  row-gap: 3em;
  column-gap: 2em;

  justify-content: center;
}

.about {
  color: #fff;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 2em;

  background-image: url("./images/kmjahmrasmine.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
.about > .title {
  font-size: 1.8em;
}

.about > p {
  font-size: 0.9em;
  font-weight: 500;
}

.p1 {
  grid-area: p1;
}

.p2 {
  grid-area: p2;
}

.p3 {
  grid-area: p3;
}

.p4 {
  grid-area: p4;
}

.opinion {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.opinion-main {
  transform: translateX(25%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.8em;
}

.opinion-card {
  background-color: #fff;
  height: var(--card-sz);
  border-radius: 32px;
  width: 55vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.8em;
  padding: 0 5em;
}

.opinion-card > button {
  align-self: end;
  background-color: #011121;
  border: none;
  border-radius: 16px;
  padding: 8px 24px;
}

.opinion-image {
  background-color: red;
  height: calc(var(--card-sz) + 48px);
  width: calc(var(--card-sz) + 48px);

  overflow: hidden;
  position: absolute;
  left: 24vw;
  bottom: 42%;
  border-radius: 32px;
  box-shadow: 10px 16px 27px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 16px 27px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 16px 27px 0px rgba(0, 0, 0, 0.75);
}

.opinion-image > img {
  width: 100%;
}

footer {
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer > p {
  font-size: 0.9em;
  color: var(--font-clr);
  width: 25%;
  padding-left: 1.5em;
}

.social-media-nav {
  width: 25%;
}

.social-media-nav > ul {
  display: flex;
  justify-content: space-around;
  padding-right: 1.5em;
}

.social-media-nav > ul > li {
  border: 3px solid blue;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

li a svg {
  width: 1em;
  fill: blue;
}
