/* start global rules*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* meme code fremwork of botstrap version 4 */
  /*small*/
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /*medium*/
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  
  /*large*/
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  /*end global rules */
  /* form {
    background-color: black;
    width: 800px;
    height: 700px;
    margin: 110px auto;
    border-radius: 20px;
  }
  form .full-name {
    padding: 20px;
    margin: 20px;
  }
  label {
    color: gray;
    margin-right: 10px;
    font-weight: bold;
    text-transform: capitalize;
    padding: 20px;
  }
  input {
    padding: 20px;
    margin: 20px;
    width: 250px;
    height: 50px;
    border-radius: 20px;
    border: 2px solid white;
    background-color: black;
  }
  .brthday input {
    color: gray;
  }
  .adresse input {
    width: 160px;
  } */

  .info {
    min-height: 100vh;
    padding-top:200px;
  }

  form {
    padding:2em 0;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5 1fr);
    border-radius: 20px;
  }

  .btnsContainer {
    background-color: black;
    width: 60vw;
    height: 70vh;
    border-radius: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }

  .images-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap:16px;
  }

  .image-container {
    height:80%;
    width:40%;
    border:3px solid #fff ;
    border-radius: 16px;
    cursor: pointer;
  }

  .image-container img {
    width:300px;
    padding-bottom:8px;
  }

  .clicked {
    border:3px solid blue ;

  }
  
  .btn {
    padding: 10px 24px;
    background-color: #2563eb;
    border: none;
    border-radius: 12px;
    font-size: 1.1em;
    color:#fff;
    cursor: pointer;
  }

  label {
    color: gray;
    margin: 20px;
    font-weight: bold;
    text-transform: capitalize;
    padding: 20px;
  }
  input {
    color:#fff;
    padding: 20px;
    margin: 20px;
    width: 250px;
    height: 50px;
    border-radius: 12px;
    border: 2px solid white;
    background-color: black;
  }
  .adresse input {
    width: 160px;
  }
  .brthday input {
    color: gray;
  }
  .description textarea {
    width: 600px;
    height: 150px;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    margin: 20px;
    display: inline-flex;
    align-content: flex-end;
    justify-content: flex-end;
  }
  .description label {
    transform: translateY(-10px);
    float: left;
    clear: both;
  }

.transport , .tools{
  display: flex;
  gap: 1em;
  width:80%;
}

.choice {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;
}

.choice input {
  width: 16px;
  margin-left: -24px;
}
  