/* start global rules*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    scroll-behavior: smooth;
  }
  /* meme code fremwork of botstrap version 4 */
  /*small*/
  /* @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  } */
  /*medium*/
  /* @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  } */
  
  /*large*/
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  /*end global rules */
  body {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .container {
    background-color: #fff;
    border-radius: 16px;
    text-align: center;
    display: flex;
    width: 50vw; 
    height: 480px;
    overflow: hidden;
  }
  
.image-container {
  width:50%;
  height:100%;
  background-image: url('../images/google.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 62%;
}

.info-container {
  padding:3em 1em;
}

  h1 {
    font-size: 2em;
    margin-bottom: 15px;
  }
  
  p {
    margin-bottom: 10px;
    line-height: 1.5;
  }
  
  a {
    color: #000;
    font-size: 1.2em;
    text-decoration: none;
  }
  
  .social-buttons.above {
    display: flex;
    flex-direction: column;
    gap:1em;
    justify-content: center;
    margin: 20px 0;
  }

  .social-buttons.bottom {
    display: flex;
    justify-content: center;
    
  }
  .sign-up-btn {
    text-decoration:underline ;
  }

  .social-btn {
    width:100%;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    margin: 0 5px;
    transition: all 0.2s ease-in-out;
  }
  
  .social-btn:hover {
    background-color: rgba(0, 0, 255, 0.132);
    color:#fff;
  }
  
  .google {
    /* background-color: white; */
    color: black;
  }
  
  .email {
    /* background-color: #007bff; */
    color: black;
  }
  
  .apple {
    /* background-color: #000; */
    color: black;
  }
  
  .facebook {
    /* background-color: #3b5998; */
    color: black;
  }
  
  .divider {
    margin: 20px 0;
  }
  
  .divider span {
    display: block;
    padding: 10px 20px;
  }
  
  /* .tagline {
    font-size: 1.2em;
    margin-bottom: 15px;
  }
  
  .info {
    font-size: 0.8em;
    margin-bottom: 15px;
  }
  
  #myButton {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
  } */

  i {
    color: initial;
    margin-right: 10px;
  }
 
  